@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$darkpink: #bb596b;
$lightpink: #f96d80;
$darkpeach: #ff9a76;
$peach: #ffc4a3;

.frame 
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: $darkpink;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.eye-shape 
{
	position: absolute;
	top:100px;
	left:100px;
  width: 200px;
  height: 200px;
  background-color: $peach;
  border-radius: 100% 0px;
  transform: rotate(45deg); 
}

.eye-lid
{
	position: absolute;
	width:100%;
	height:100px;
	background-color:$darkpink;
	z-index: 2;
}

#top-lid
{
		animation: blink 3s ease-in-out infinite;
}

#bottom-lid
{
	top:300px;
	  transform: scaleX(-1);
		animation: blink-down 3s ease-in-out infinite;

}

#eye
{
	position:absolute;
	top:50px;
	left:50px;
	width:100px;
	height:100px;
	border-radius:50%;
	background-color: $lightpink;
}

#iris
{
	position: absolute;
	top:25px;
	left:25px;
	width:50px;
	height:50px;
	border-radius:50%;
	background-color:$darkpeach;
	animation: look-around 5s infinite;
}

@keyframes look-around
{
	20%{top:25px;left:50px;}
	40%{top:50px;left:25px;}
	60%{top:0px;left:25px;}
	80%{top:25px;left:0px;}
	100%{top:25px;left:25px;}
}

@keyframes blink
{
	50%{height:200px;}
	100%{height:100px;}
}

@keyframes blink-down
{
	50%{top:200px;}
	100%{top:300px;}
}