.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: hsl(133, 34%, 50%);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: grid;
	place-items: center;
}

#button-shifter {
	background: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.2);
	cursor: pointer;
	z-index: 5;
	transition: all 1s;
}

#bright-bg {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: hsl(133, 48%, 59%);
	transition: all 1s;
	z-index: 0;
}

#expanding-circle {
	width: 40px;
	height: 40px;
	z-index: 1;
	border-radius: 50%;
	border: 2px solid white;
	transition: all 1.1s;
	position: absolute;
}

#lines {
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	transform: scale(15%);
	transition: all 1.1s;
}

.line {
	position: absolute;
	width: 2px;
	height: 25px;
	background: white;
	top: 90px;
	left: 95px;
}

@for $i from 1 through 20 {
	$nullBase: $i - 1;
	$degree: 360deg / 20 * $nullBase;
	.l#{$i} {
		transform: rotate($degree) translateY(-80px);
	}
}
