// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: hsl(354, 56%, 55%);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.box {
	width: 100%;
	height: 100%;
	position: relative;
}

.bell {
	position: absolute;
	top: 150px;
	left: 150px;
}

.material-symbols-outlined {
	font-size: 100px !important;
	color: white;
	animation: ring 4s ease-in-out infinite;
}

.prin {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 4px solid transparent;
	top: 150px;
	opacity: 0;
}

.left-prin {
	border-left: 3px solid white;
	left: 140px;
	animation: ring-left 4s ease-in-out infinite;;
}

.right-prin {
	border-right: 3px solid white;
	right: 140px;
	animation: ring-right 4s ease-in-out infinite;;
}

.delay1 {
	animation-delay: 1s;
}

.delay2 {
	animation-delay: 2s;
}


@keyframes ring {
	0%, 75%, 100% {
		transform: rotate(0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65% {
		transform: rotate(15deg);
	}
	10%, 20%, 30%, 40%, 50%, 60%, 70% {
		transform: rotate(-15deg);
	}
}

@keyframes ring-left {
	0%, 26%, 100% { opacity: 0; }
	13% { opacity: 1; }
	25% { opacity: 0; transform: translateX(-50px); }
}

@keyframes ring-right {
	0%, 26%, 100% { opacity: 0; }
	13% { opacity: 1; }
	25% { opacity: 0; transform: translateX(50px); }
}