// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #bed7c0;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.row {
	display: flex;
}

.item {
	height: 40px;
	width: 40px;
	display: grid;
	place-items: center;
}

.a, .b {
	position: absolute;
	background: white;
}

.a {
	animation: anim-a 3s linear infinite;
}

.b {
	animation: anim-b 3s linear infinite;
}

@keyframes anim-a {
	0%, 5%, 100% {
		transform: rotate(45deg);
		width: 20px;
		height: 20px;
	}
	20%, 25% {
		transform: rotate(0);
		width: 20px;
		height: 20px;
	}
	40%, 45% {
		transform: rotate(0);
		width: 40px;
		height: 10px;
	}
	60%, 65% {
		transform: rotate(45deg);
		width: 40px;
		height: 10px;
	}
	80%, 85% {
		transform: rotate(45deg) translate(-15px);
		width: 40px;
		height: 10px;
	}
}

@keyframes anim-b {
		0%, 20%, 100% {
		transform: rotate(45deg);
		width: 20px;
		height: 20px;
	}
	40%, 45% {
		transform: rotate(90deg);
		width: 40px;
		height: 10px;
	}
	60%, 65% {
		transform: rotate(135deg);
		width: 40px;
		height: 10px;
	}
	80%, 85% {
		transform: rotate(135deg) translate(0, -15px);
		width: 40px;
		height: 10px;
	}
}