.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: hsl(208, 62%, 58%);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.square {
	width: 150px;
	height: 150px;
	background: white;
	position: absolute;
	left: 125px;
	top: 125px;
	animation: square-jump ease-in 2s infinite;
	z-index: 2;
}

@keyframes square-jump {
	0%, 40% {
		top: 125px;
		transform: scaleY(1) scaleX(1);
	}
	20%, 27% {
		top: 190px;
		transform: scaleY(.25) scaleX(1.25);
	}
	50% {
		top: 50px;
		transform: rotate(-360deg);
	}
}

.shadow {
	z-index: 1;
	width: 200px;
	height: 50px;
	background: hsl(208, 62%, 38%);
	border-radius: 20px;
	transform: rotateX(65deg);
	position: absolute;
	top: 260px;
	left: 100px;
	animation: shadow-squeeze ease-in 2s infinite;
}

@keyframes shadow-squeeze{
	0%, 40% {
	transform: rotateX(65deg);
	}
	20%, 27% {
			transform: rotateX(65deg)
scaleX(1.25);
	}
	50% {
		transform: rotateX(65deg) scaleX(.3);
	}
}
