// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$orange: #d9823b;
$blue: #2f3e4e;

// use only the available space inside the 400x400 frame
#frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: $blue;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}

.h {
	color: white;
	position: absolute;
	font-weight: 600;
	font-size: 4em;
	top: 150px;
	left: 90px;
}

#pane {
	position: absolute;
	z-index: 2;
	pointer-events: none;
	width: 400px;
	height: 180px;
	top: 0;
	left: 0;
	background: $orange;
	overflow: hidden;
	transform-origin: 50% 0%;
	transition: all .1s ease-in-out;
}

.front {
	filter: blur(.45em);
	z-index: 3;
}

.back {
	z-index: 1;
}

img {
	position: absolute;
	width: 250px;
	left: 80px;
	top: 150px;
}
