// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

$blue: #69F1FE;
$pink: #FE7669;

// use only the available space inside the 400x400 frame
#frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: $blue;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.circle {
	background: $pink;
	border-radius: 50%;
	position: absolute;
	animation: flicker 4s ease-in-out infinite;
}

@keyframes flicker {
	0%, 10%, 90%, 100% {
		width: 0;
		height: 0;
	}
	50% {
		height: 10px;
		width: 10px;
	}
}